{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}

{% block hero %}
    {% include 'partials/hero.html.twig' with {id: 'blog-hero', content: page.content, hero_image: blog_image} %}
{% endblock %}

{% block content %}
    {% for child in collection %}
        {% include 'partials/list-entry.html.twig' with {blog: page, page: child} %}
    {% endfor %}
{% endblock %}