html {
    font-size: 20px;
}

a, .dropmenu ul li a {
    text-decoration: underline;
}

.hero.hero-tiny{
    padding-bottom: 0;
}

#body-wrapper .container {
    padding: 0rem 0 2rem;
}

.title-h1h2 h2 {
    color: #444;
}

.title-h1h2 h1 {
    color: #111;   
}

.notices.gray {
    border-left: 10px solid #bbb;
    background: #eee;
}