<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>
            <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC BY-SA 4.0</a> - 
            Übersetzung von <a href="https://switching.social" target="_blank" rel="noopener">switching.social</a> -
            <a href="https://gitlab.com/swisode/website" target="_blank" rel="noopener">Repository</a>
        </p>
        <span class="d-none"><a rel="me" href="https://fosstodon.org/@swisode">Auf Mastodon</a></span>
    </section>
</section>
